.App {
  text-align: center;
}

.hero {
  background-color: #008080;
  color: white;
  padding: 100px 20px;
  text-align: center;
}
.main-content {
  background-color: white;
  color: #333333;
  padding: 50px 20px;
}
.main-content .service {
  width: 30%;
  display: inline-block;
  text-align: center;
  padding: 20px;
}
.about {
  background-color: #f2f2f2;
  color: #333333;
  padding: 50px 20px;
  display: flex;
  align-items: center;
}
.about img {
  width: 50%;
}
.about .text {
  width: 50%;
  padding: 20px;
}